In [11]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.rcParams.update({'font.size': 14})

In [12]:
result_df = pd.read_csv("results.csv")
result_df.head()

  framework       model        dataset quantization  accuracy  std_err
0     paper  Llama-2-7b     winogrande          NaN    0.6920      NaN
1     paper  Llama-2-7b       arc_easy          NaN    0.7520      NaN
2     paper  Llama-2-7b  arc_challenge          NaN    0.4590      NaN
3     paper  Llama-2-7b  truthfulqa_mc          NaN    0.3329      NaN
4     paper  Llama-2-7b      hellaswag          NaN    0.7720      NaN

In [13]:
specs_df = pd.read_csv("model_specs.csv")
specs_df.loc[specs_df["quantization"].isna(),"quantization"] = "None"
specs_df.head()

             model quantization   size  size_in_memory  parameters  max_ram
0  Mistral-7b-v0.1         None  14.48           13.49     7240000      NaN
1  Mistral-7b-v0.1         q3_k   3.52            3.28     7240000     6.02
2  Mistral-7b-v0.1         q4_k   4.37            4.07     7240000     6.87
3  Mistral-7b-v0.1         q4_0   4.11            3.83     7240000     6.61
4  Mistral-7b-v0.1          AWQ   4.15            4.47     7240000      NaN

In [14]:
result_df.replace(np.nan, "None", inplace=True)
specs_df.replace(np.nan, "None", inplace=True)
display(result_df.head(5))
display(specs_df.head(5))

  framework       model        dataset quantization accuracy std_err
0     paper  Llama-2-7b     winogrande         None    0.692    None
1     paper  Llama-2-7b       arc_easy         None    0.752    None
2     paper  Llama-2-7b  arc_challenge         None    0.459    None
3     paper  Llama-2-7b  truthfulqa_mc         None   0.3329    None
4     paper  Llama-2-7b      hellaswag         None    0.772    None

             model quantization   size  size_in_memory  parameters max_ram
0  Mistral-7b-v0.1         None  14.48           13.49     7240000    None
1  Mistral-7b-v0.1         q3_k   3.52            3.28     7240000    6.02
2  Mistral-7b-v0.1         q4_k   4.37            4.07     7240000    6.87
3  Mistral-7b-v0.1         q4_0   4.11            3.83     7240000    6.61
4  Mistral-7b-v0.1          AWQ   4.15            4.47     7240000    None

In [15]:
# Configure pd display
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [16]:
result_df.framework.unique()
result_df.quantization.unique()

array(['None', 'q2_k', 'q3_k', 'q4_k', 'q4_0', 'q0f16', 'q0f32', 'AWQ',
       'GPTQ'], dtype=object)

In [17]:
specs_df.quantization.unique()

array(['None', 'q3_k', 'q4_k', 'q4_0', 'AWQ', 'GPTQ'], dtype=object)

In [18]:
mapping_quant_framework = {
    "q3_k": "llamacpp",
    "q4_0": "llamacpp",
    "q4_k": "llamacpp",
    "AWQ": "pytorch",
    "GPTQ": "pytorch",
    "None": "pytorch"
}
specs_df["framework"] = specs_df["quantization"].map(mapping_quant_framework)
specs_df

,model,quantization,size,size_in_memory,parameters,max_ram,framework
0,Mistral-7b-v0.1,None,14.48,13.49,7240000,None,pytorch
1,Mistral-7b-v0.1,q3_k,3.52,3.28,7240000,6.02,llamacpp
2,Mistral-7b-v0.1,q4_k,4.37,4.07,7240000,6.87,llamacpp
3,Mistral-7b-v0.1,q4_0,4.11,3.83,7240000,6.61,llamacpp
4,Mistral-7b-v0.1,AWQ,4.15,4.47,7240000,None,pytorch
5,Mistral-7b-v0.1,GPTQ,4.16,4.47,7240000,None,pytorch
6,Llama-2-7b,None,13.50,12.55,6740000,None,pytorch
7,Llama-2-7b,q3_k,3.30,3.07,6740000,5.8,llamacpp
8,Llama-2-7b,q4_k,4.08,3.80,6740000,6.58,llamacpp
9,Llama-2-7b,q4_0,3.83,3.56,6740000,6.33,llamacpp
10,Llama-2-7b,AWQ,3.89,3.82,6740000,None,pytorch
11,Llama-2-7b,GPTQ,3.90,3.82,6740000,None,pytorch
12,Llama-2-13b,None,26.03,25.03,13000000,None,pytorch
13,Llama-2-13b,q4_k,7.87,7.33,13000000,10.37,llamacpp
14,Llama-2-13b,AWQ,7.25,7.08,13000000,None,pytorch
15,Llama-2-13b,GPTQ,7.26,7.09,13000000,None,pytorch
16,TinyLlama-1.1B-v0.5,None,4.40,4.10,1100000,None,pytorch
17,TinyLlama-1.1B-v0.5,q3_k,0.55,0.52,1100000,3.05,llamacpp
18,TinyLlama-1.1B-v0.5,q4_k,0.67,0.63,1100000,3.17,llamacpp
19,TinyLlama-1.1B-v0.5,q4_0,0.64,0.60,1100000,3.14,llamacpp
20,Zephyr-3b,None,5.59,5.37,2800000,None,pytorch
21,Zephyr-3b,q3_k,1.39,1.29,2800000,3.89,llamacpp
22,Zephyr-3b,q4_k,1.71,1.59,2800000,4.21,llamacpp
23,Zephyr-3b,q4_0,1.61,1.50,2800000,4.11,llamacpp
24,Zephyr-3b,GPTQ,1.84,1.76,2800000,None,pytorch

In [19]:
merged_df = result_df.merge(specs_df, on=("model", "quantization"))
display(merged_df.head(5))

,framework_x,model,dataset,quantization,accuracy,std_err,size,size_in_memory,parameters,max_ram,framework_y
0,paper,Llama-2-7b,winogrande,None,0.692,None,13.5,12.55,6740000,None,pytorch
1,paper,Llama-2-7b,arc_easy,None,0.752,None,13.5,12.55,6740000,None,pytorch
2,paper,Llama-2-7b,arc_challenge,None,0.459,None,13.5,12.55,6740000,None,pytorch
3,paper,Llama-2-7b,truthfulqa_mc,None,0.3329,None,13.5,12.55,6740000,None,pytorch
4,paper,Llama-2-7b,hellaswag,None,0.772,None,13.5,12.55,6740000,None,pytorch

In [20]:
result_df[(result_df.quantization == "None") & (result_df.framework != 'paper') & (result_df.framework == 'pytorch')]

,framework,model,dataset,quantization,accuracy,std_err
11,pytorch,Llama-2-7b,arc_easy,None,0.763,None
17,pytorch,Llama-2-7b,winogrande,None,0.6906,None
22,pytorch,Llama-2-7b,truthfulqa,None,0.3209,None
26,pytorch,Llama-2-7b,truthfulqa_mc_1,None,0.2521,0.0152
27,pytorch,Llama-2-7b,truthfulqa_mc_2,None,0.3897,0.0136
34,pytorch,Llama-2-7b,hellaswag,None,0.5714,0.0049
38,pytorch,Mistral-7b-v0.1,arc_easy,None,0.8089,0.0081
42,pytorch,Mistral-7b-v0.1,winogrande,None,0.738,0.0124
46,pytorch,Mistral-7b-v0.1,truthfulqa,None,0.3539,None
50,pytorch,Mistral-7b-v0.1,truthfulqa_mc_1,None,0.2815,0.0157
54,pytorch,Mistral-7b-v0.1,truthfulqa_mc_2,None,0.4264,0.0142
58,pytorch,Mistral-7b-v0.1,hellaswag,None,0.6127,0.0049
63,pytorch,TinyLlama-1.1B-v0.5,arc_easy,None,0.5808,0.0101
68,pytorch,TinyLlama-1.1B-v0.5,winogrande,None,0.588,0.0138
73,pytorch,TinyLlama-1.1B-v0.5,truthfulqa,None,0.3029,0.0146
78,pytorch,TinyLlama-1.1B-v0.5,truthfulqa_mc_1,None,0.2252,0.0146
83,pytorch,TinyLlama-1.1B-v0.5,truthfulqa_mc_2,None,0.3806,0.0145
88,pytorch,TinyLlama-1.1B-v0.5,hellaswag,None,0.4556,0.005
145,pytorch,Llama-2-13b,arc_easy,None,0.7946,0.0083
149,pytorch,Llama-2-13b,winogrande,None,0.7222,0.0126
153,pytorch,Llama-2-13b,truthfulqa,None,0.3143,None
157,pytorch,Llama-2-13b,truthfulqa_mc_1,None,0.2595,0.0153
158,pytorch,Llama-2-13b,truthfulqa_mc_2,None,0.369,0.0136
165,pytorch,Llama-2-13b,hellaswag,None,0.6006,0.0049

In [21]:
display(result_df[(result_df.quantization == "None") & (result_df.framework != 'paper')].head(10))
display(specs_df[specs_df.quantization == "None"].head(10))

   framework            model          dataset quantization accuracy std_err
10  llamacpp       Llama-2-7b         arc_easy         None   0.7567    None
11   pytorch       Llama-2-7b         arc_easy         None    0.763    None
16  llamacpp       Llama-2-7b       winogrande         None   0.6977    None
17   pytorch       Llama-2-7b       winogrande         None   0.6906    None
22   pytorch       Llama-2-7b       truthfulqa         None   0.3209    None
26   pytorch       Llama-2-7b  truthfulqa_mc_1         None   0.2521  0.0152
27   pytorch       Llama-2-7b  truthfulqa_mc_2         None   0.3897  0.0136
34   pytorch       Llama-2-7b        hellaswag         None   0.5714  0.0049
38   pytorch  Mistral-7b-v0.1         arc_easy         None   0.8089  0.0081
42   pytorch  Mistral-7b-v0.1       winogrande         None    0.738  0.0124

,model,quantization,size,size_in_memory,parameters,max_ram,framework
0,Mistral-7b-v0.1,None,14.48,13.49,7240000,None,pytorch
6,Llama-2-7b,None,13.50,12.55,6740000,None,pytorch
12,Llama-2-13b,None,26.03,25.03,13000000,None,pytorch
16,TinyLlama-1.1B-v0.5,None,4.40,4.10,1100000,None,pytorch
20,Zephyr-3b,None,5.59,5.37,2800000,None,pytorch

In [22]:
merged_df[merged_df.quantization == "None"].model.unique()

array(['Llama-2-7b', 'Mistral-7b-v0.1', 'TinyLlama-1.1B-v0.5',
       'Zephyr-3b', 'Llama-2-13b'], dtype=object)

In [24]:
# turn all floats to use 2 decimal places and display only that to string
acc_size_df_all = merged_df.groupby(["model", "quantization", "size_in_memory", "dataset", ])[["accuracy"]].sum()
# display(acc_size_df_all)
os.makedirs("latex_tables", exist_ok=True)

for model, group_df in acc_size_df_all.groupby("model").groups.items():
  display(model)
  cols = ['size_in_memory', 'accuracy']
  df_of_interest = acc_size_df_all.loc[group_df].reset_index()[["quantization", "size_in_memory", "dataset", "accuracy"]]
  df_of_interest[cols] = df_of_interest[cols].replace("None", np.nan)
  df_of_interest[cols] = df_of_interest[cols].astype(np.double).applymap(lambda x: f"{x:.2f}" if x else 'None')
  df_of_interest.set_index(["quantization", "size_in_memory", "dataset"], inplace=True)

  with open(f"latex_tables/acc_size_df_{model}.tex", "w") as f:
    f.write(df_of_interest.to_latex().replace('_', '\_'))

with open("latex_tables/acc_size_df_all.tex", "w") as f:
  f.write(acc_size_df_all.to_latex().replace('_', '\_'))

'Llama-2-13b'

/var/folders/m6/kw74nlzd53j7nf5_4l969_0c0000gn/T/ipykernel_52271/1273996410.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_of_interest[cols] = df_of_interest[cols].astype(np.double).applymap(lambda x: f"{x:.2f}" if x else 'None')

'Llama-2-7b'

/var/folders/m6/kw74nlzd53j7nf5_4l969_0c0000gn/T/ipykernel_52271/1273996410.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_of_interest[cols] = df_of_interest[cols].astype(np.double).applymap(lambda x: f"{x:.2f}" if x else 'None')

'Mistral-7b-v0.1'

/var/folders/m6/kw74nlzd53j7nf5_4l969_0c0000gn/T/ipykernel_52271/1273996410.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_of_interest[cols] = df_of_interest[cols].astype(np.double).applymap(lambda x: f"{x:.2f}" if x else 'None')

'TinyLlama-1.1B-v0.5'

/var/folders/m6/kw74nlzd53j7nf5_4l969_0c0000gn/T/ipykernel_52271/1273996410.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_of_interest[cols] = df_of_interest[cols].astype(np.double).applymap(lambda x: f"{x:.2f}" if x else 'None')

'Zephyr-3b'

/var/folders/m6/kw74nlzd53j7nf5_4l969_0c0000gn/T/ipykernel_52271/1273996410.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_of_interest[cols] = df_of_interest[cols].astype(np.double).applymap(lambda x: f"{x:.2f}" if x else 'None')